body{
	background-image: url(fnaf.jpg);
}
.hero{
	width: 200px;
	height: 200px;
	position: absolute;
}
.head{
	height: 196px;
	width: 196px;
	border: 2px solid pink;
	background-color: pink;
	border-radius: 50%;
	position: absolute;
}
.eye{
	height: 50px;
	width: 50px;
	border:10px solid white;
	border-radius: 50%;
	position: absolute;
	top: 40px;
	left: 30px;
}
.eye + .eye{
	left:95px;
}
.mouth{
	height: 30px;
	width: 100px;
	border:1px solid #dc8b8b;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 160px;
	left: 50px;
}
.ear{
	border:20px solid transparent;
	border-bottom:20px solid pink;
}
.mouth + .mouth{
	top: 120px;
	background-color: #bd7eaa;
}
.coin{
	width: 50px;
	height: 50px;
	background-color: gold;
	border: 3px solid darkorange;
	animation: go 5s infinite linear;
	border-radius: 50%;
	position: absolute;
	left: 300px;
}
span{
	position: absolute;
	top: 15px;
	left: 20px;
	font-size: 20px;
	color: brown;
	animation: goo infinite 5;
	
}
@keyframes go{
	100%{
		border: 3px solid black;
		background-color: darkorange;
	}
}
@keyframes goo{
	10%{
		color: green;
	}
	20%{
	color: yellow
	}
	30%{
		color: black;
	}
	100%{
		color: red;
	}
}
.coin100{
	width: 70px;
	height: 70px;
	background-color: yellow;
	border: 4px solid darkorange;
	top: 100px;
	border-radius: 50%;
	position: absolute;
	left: 400px;
	animation: go 5s infinite linear;
}
span{
	position: absolute;
	top: 20px;
	left: 18px;
	font-size: 22px;
	color: brown;
	animation: goo infinite 5;
}
@keyframes goo{
	10%{
		color:  black;
	}
	20%{
	color: green;
	}
	30%{
		color:  red;
	}
	100%{
		color:  yellow;
	}
}
.span{
	position: absolute;
	top: 20px;
	left: 18px;
	font-size: 22px;
	color: red;
	animation: goo infinite 5;
}