
background-color: burlywood;
}


.red{
 width: 100px;
 height:100px;
 background-color: red;
 border-radius: 50%;
}
.circle {

width: 100px;
height: 100px;
background-color: honeydew;
}

.yellow { 






}