body{
	background-color:red;
}
#clock{
width: 300px;
height: 300px;
background-color:rosybrown;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
border-radius:50%;
}
#line-m{
width: 10px;
height: 80px;
background-color: black;
position: absolute;
left: 50%;
top: 30%;
transform: translate(-50%,-50%);
border-radius:50%;
transform: rotate(0deg);
transform-origin: center bottom;

}


