.main-menu{
	list-style-type:none;
	margin:0;
	padding:0;

}

.main-menu li a{

	font-size:30px;
	text-decoration:none;
	border:1px solid green;
	display:block;
	width:200px;
	color:blue;
    background:lightgrey;
    margin-bottom:5px;
    padding:10px 10px 10px 15px;
}
.main-menu li a:hover{
	padding-left:35px;
	background-color:yellow;
	color:pink;
	text-decoration:underline;
}
.main-menu li a:active{
color:yellow;
background-color:pink;
}
.sub-menu{


}