li{
	list-style-type: none;
	border: 1px solid black;
	width:300px;
	margin:11px 11px 11px 11px;
	padding: 11px 11px 11px 11px;
	font-size: 70px;
	color:red;
	text-decoration: underline;/*overline line-through */;
	background-color: black;

}
li:hover{
	background-color: orange;
	color: black;
	text-decoration: underline;
	
}