*{
 margin: 0px;
padding: 0px;
}
.container{
max-width: 1200px;
margin: 0 auto;
}
.title{
width: 100%;
min-height: 150px;
background-color: salmon ;
display: flex;
justify-content: center;
}

.title > h2 {
color:green;
font-size: 35px;
}
.main{
width: 100%;
min-height: 500px;
background-color: salmon;
margin: top;
display: flex;
margin-top: 50px;
}

.mainL{
width: 40%;
min-height: 500px;
}
.mainR{
width: 60%;
min-height: 500px;
}
.mainL > img{
width: 100%;
}
.mainR > h2{
color:lavender;
text-align: center;
padding: 20px 0;
}
.mainR > p{
color:pink;
padding-left:15px;
padding-top:10px;
}
.footer{
width: 100%;
background-color: lightblue;
min-height: 150px;
margin-top: 60px;
display: flex;
justify-content: center;
align-items: center;
}
menu > li{
list-style: none;
display: inline;
}

menu > li > a{
color: gold;
text-decoration:none;
padding-left: 50px;
font-size: 20px;
}

@media screen and (max-width: 700px) {
.main{
display: block;
min-height: 300px;
}
.mainL,.mainR{
width: 100%;
min-height: 150px;
}

.mainR{
padding-bottom: 50px;
}

.mainR > p{


text-align:center;
}
 }