h1{
	animation-name: go;
	animation-duration: 20s;
	position: absolute;
}
@keyframes go{
	10%{color: red;}
	20%{font-size: 100px;}
	30%{text-decoration: line-through; color: blue;}
	40%{text-shadow: 20px 30px 0px black;}
	50%{top: 300px; left: 500px;}
	60%{transform: rotate(1000000000000000000deg);}
}
body{
	animation-name: gogo;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
}
@keyframes gogo{
	10%{background-color: red;}
	20%{background-color: cyan;}
	30%{background-color: blue;}
	40%{background-color: green;}
	50%{background-color: gold;}
	60%{background-color: darkblue;}
}
div{
	animation-name: gogogo;
	animation-duration: 5s;
	position: absolute;
	width: 300px;
	height: 200px;
	border: 2px solid black;
}
@keyframes gogogo{
	10%{border-radius: 80%;}
	20%{background-image: radial-gradient(red, blue);}
	30%{border: 5px dashed green;}
	40%{width: 60000px; height: 8000px: }
	50%{transform: rotate(10000deg)}
}