.main-menu li{
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 200px;
}
.main-menu a{
	text-decoration: none;
	background-color: #feb40e;
	border: 2px solid black;
	display: block;
	color: black;
	font-size: 30px;
	margin-bottom: -2px;
	padding: 5px 0px 0px 15px;
}
.main-menu a:hover{
	background-color: black;
	color: #feb40e;
	text-decoration: underline;
	border: 1px solid yellow; 
}